<div class="profile-container">

  <h2>Your Profile</h2>


  <div class="profile-card" *ngIf="!editMode">

    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Name:</strong> {{ user.username }}</p>
    <p><strong>Role:</strong> {{ user.role }}</p>

    <button (click)="enableEdit()">Edit Profile</button>
  </div>

  <div class="profile-card" *ngIf="editMode">

    <label>Email</label>
    <input type="text" [(ngModel)]="user.email" disabled>

    <label>Name</label>
    <input type="text" [(ngModel)]="user.username">

    <label>Role</label>
    <input type="text" [(ngModel)]="user.role" disabled>

    <button (click)="updateProfile()">Save Changes</button>
    <button class="cancel-btn" (click)="cancelEdit()">Cancel</button>

  </div>

</div>