<div class="add-flight-container">
  <h4>Add New Flight</h4>

  <form #flightForm="ngForm" (ngSubmit)="addFlight(flightForm)">

    <label>From Place</label>
    <select [(ngModel)]="flight.fromPlace" name="fromPlace" required>
      <option value="" disabled selected>Select State</option>
      <option *ngFor="let state of states" [value]="state">{{ state }}</option>
    </select>

    <label>To Place</label>
    <select [(ngModel)]="flight.toPlace" name="toPlace" required>
      <option value="" disabled selected>Select State</option>
      <option *ngFor="let state of states" [value]="state">{{ state }}</option>
    </select>

    <label>Arrival Time:</label>
    <input type="datetime-local" name="arrivalTime" [(ngModel)]="flight.arrivalTime" required #arrivalCtrl="ngModel" />
    <small class="text-danger" *ngIf="arrivalCtrl.invalid && arrivalCtrl.touched"> ArrivalTime is required </small>

    <label>Departure Time:</label>
    <input type="datetime-local" name="departureTime" [(ngModel)]="flight.departureTime" required
      #departureCtrl="ngModel" />
    <small class="text-danger" *ngIf="departureCtrl.invalid && departureCtrl.touched"> DepartureTime is required
    </small>
    <label>Available Seats:</label>
    <input type="number" name="availableSeats" [(ngModel)]="flight.availableSeats" required #seatsCtrl="ngModel" />
    <small class="text-danger" *ngIf="seatsCtrl.invalid && seatsCtrl.touched"> Seats count is required </small>

    <label>One Way Price:</label>
    <input type="number" name="oneWay" [(ngModel)]="flight.price.oneWay" required #onewayCtrl="ngModel" />
    <small class="text-danger" *ngIf="onewayCtrl.invalid && onewayCtrl.touched"> OneWay cost is required </small>


    <label>Round Trip Price:</label>
    <input type="number" name="roundTrip" [(ngModel)]="flight.price.roundTrip" required #twowayCtrl="ngModel" />
    <small class="text-danger" *ngIf="twowayCtrl.invalid && twowayCtrl.touched"> TwoWay cost is required </small>


    <label>Airline ID:</label>
    <input type="text" name="airlineId" [(ngModel)]="flight.airlineId" required #airlineCtrl="ngModel" disabled/>
    <small class="text-danger" *ngIf="airlineCtrl.invalid && airlineCtrl.touched"> Airline ID is required </small>

    <button type="submit">Add Flight</button>
    <p class="text-danger mt-2 text-center" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
  </form>
</div>