<div>
  <div class="search-container">
    <h2>Search Flights</h2>

    <form (ngSubmit)="searchFlights()" #searchForm="ngForm">

      <label>From:</label>
      <select name="fromPlace" [(ngModel)]="fromPlace" required #fromCtrl="ngModel">
        <option value="" disabled selected>Select origin</option>
        <option *ngFor="let place of fromPlaces" [value]="place">{{ place }}</option>
      </select>

      <label>To:</label>
      <select name="toPlace" [(ngModel)]="toPlace" required #toCtrl="ngModel">
        <option value="" disabled selected>Select destination</option>
        <option *ngFor="let place of toPlaces" [value]="place">{{ place }}</option>
      </select>
      <label>Date:</label>
      <input type="date" name="date" [(ngModel)]="date" [min]="minDate" required #dateCtrl="ngModel" /> <small
        class="text-danger" *ngIf="dateCtrl.invalid && dateCtrl.touched"> Date is required </small>
      <button type="submit">Search</button>
    </form>

    <hr />

    <div *ngIf="flights.length === 0">
      No flights found.
    </div>
  </div>
  <div class="table-responsive">
    <table *ngIf="flights.length > 0">
      <thead>
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Departure</th>
          <th>Arrival</th>
          <th>Seats</th>
          <th>One Way</th>
          <th>Round Trip</th>
          <th *ngIf="currentRole === 'ROLE_USER'" >Book</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let f of flights">
          <td>{{ f.fromPlace }}</td>
          <td>{{ f.toPlace }}</td>
          <td>{{ f.departureTime }}</td>
          <td>{{ f.arrivalTime }}</td>
          <td>{{ f.availableSeats }}</td>
          <td>{{ f.price?.oneWay }}</td>
          <td>{{ f.price?.roundTrip }}</td>
          <td><button *ngIf="currentRole === 'ROLE_USER'"  (click)="book(f)">Book</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>