*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.login-container{
    
    width:350px;
    margin:80px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
}
input{
    width: 100%;
    padding: 8px;
    margin: 8px 0 16px;
}
button{
    width: 100%;
    padding: 10px;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
}
.error{
    color: red;
    margin-top: 10px;
}