
<div class="user-bookings-container">
  <h4>Your Bookings</h4>

  <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>

  <div *ngFor="let booking of bookings" class="booking-card">
    <p><strong>PNR:</strong> {{ booking.pnr }}</p>
    <p><strong>Flight ID:</strong> {{ booking.flightId }}</p>
    <p><strong>Arrival:</strong> {{ booking.flight?.arrivalTime }}</p>
    <p><strong>Departure:</strong> {{ booking.flight?.departureTime }}</p>
    <p><strong>Status:</strong> {{ booking.status }}</p>
  

    <button
      class="btn btn-danger"
      (click)="delete(booking)"
      [disabled]="!canCancel(booking)"
    >
      Cancel Booking
    </button>
  </div>
</div>
