.search-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.search-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.search-container form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.search-container label {
    font-weight: 500;
    margin-bottom: 3px;
}

.search-container input,
.search-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.search-container button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.search-container button:hover {
    background-color: #0056b3;
}


table {
    width: 100%;

    table-layout: auto;
    word-break: break-word;
}


thead {
    background-color: #f1f1f1;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f9f9f9;
}

table button {
    padding: 6px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table button:hover {
    background-color: #1e7e34;
}

.search-container div {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    color: #555;
}