.profile-container {
    max-width: 450px;
    margin: 60px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-container h2 {
    font-weight: 600;
    margin-bottom: 25px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.profile-card label {
    font-weight: 500;
    margin-bottom: 4px;
}

.profile-card input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.profile-card button {
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

.profile-card button:not(.cancel-btn) {
    background-color: #007bff;
    color: white;
}

.profile-card button:not(.cancel-btn):hover {
    background-color: #0056b3;
}

.changePassword-btn {
    background-color:  #007bff;
    color: white;
}

.changePassword-btn:hover {
    background-color: #0056b3;
}

.cancel-btn {
    background-color: #dc3545;
    color: white;
}

.cancel-btn:hover {
    background-color: #b02a37;
}

.profile-card p {
    font-size: 16px;
    margin: 0;
}