.hero-section {
  position: relative;
  height: 45vh;
  background-image: url('https://images.unsplash.com/photo-1529074963764-98f45c47344b');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container{
    
    min-height: 100vh;
}

.icon {
  width: 30%;
  height: 30%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.hero-content {
  position: relative;
  text-align: center;
  color: white;
  z-index: 2;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
}

.hero-content p {
  font-size: 20px;
  margin-top: 10px;
}

.cta-btn {
  margin-top: 25px;
  padding: 12px 28px;
  background-color: #ff9800;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  background-color: #e68900;
}

.features-section {
  padding: 50px 20px;
  text-align: center;
}

.features-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.features-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.feature-card {
  width: 260px;
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 40px;
}