.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0d47a1;
  padding: 12px 24px;
  color: white;
}
.user-info {
  font-weight: 500;
  opacity: 0.9;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  list-style: none;
}

.nav-links a, .nav-links li {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
